@import '../../styles/variables.scss';

.recover{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: $head-bg;

    &__form-title {
        @extend %title-font;
        margin-bottom: 10px;
        text-align: center;
    }

    &__back {
        display: block;
        border: none;
        font-size: 14px;
        line-height: 18px;
        margin: 0 0 0 auto;
        margin-bottom: 15px;
        color: rgb(250, 77, 77);
        background-color: transparent;
    }
    &__form {
        position: relative;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;
        width: 300px;
        margin: 0 auto;
        box-shadow: 1px 3px 4px rgba(172, 172, 172, 0.25);
    }
    .error,
    .success {
        position: absolute;
        border-radius: 10px;
        top: -70px;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        padding: 10px;
        left: 0;
        color: #fff;
    }

    .error {
        background-color: rgb(245, 94, 94);
    }

    .success {
        background-color: rgb(116, 189, 110);
    }

    &__pass-box {
        position: relative;
        margin-bottom: 15px;
    }

    &__pass-error input{
        background-color: rgb(255, 186, 186);
    }

    &__show-pass {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__show-pass-ico {
        width: 22px;
    }

    .hidden {
        display: none;
    }

    .main-btn {
        width: 100%;
    }


}